.fff {
    -webkit-perspective: 1600px;
            perspective: 1600px;
    width: 60vw;
    height: 60vh;
}
.component-card {
    display: block;
    transform-style: preserve-3d !important;
    transition: transform .7s !important;
    &:hover {
        transform: rotateY( 0deg ) !important;
    }
    &:nth-child(1) {
        transform: rotateY( 22deg );
    }
    &:nth-child(2) {
        transform: rotateY( -8deg );
    }
}