<div class="text-2xl">Accordion</div>
<p class="opacity-80">An accordion is an element comprised of a vertically stacked list of items such as labels. Each item can be expanded or collapsed to either display or hide the items below it.</p>
<div class="flex flex-col py-4">
    <component-showcase>
        <ng-container visual>
                <ngx-accordion *ngIf="form.value.type === 'item'" class="!w-50" [single]="form.value.variation">
                  <ngx-accordion-item title="New York">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor ultricies nibh, a molestie tellus sagittis id. Aliquam ornare libero ut fermentum lacinia.</ngx-accordion-item>
                  <ngx-accordion-item title="London">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor ultricies nibh, a molestie tellus sagittis id. Aliquam ornare libero ut fermentum lacinia.</ngx-accordion-item>
                  <ngx-accordion-item title="Hong Kong">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor ultricies nibh, a molestie tellus sagittis id. Aliquam ornare libero ut fermentum lacinia.</ngx-accordion-item>
                  <ngx-accordion-item title="Tokyo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor ultricies nibh, a molestie tellus sagittis id. Aliquam ornare libero ut fermentum lacinia.</ngx-accordion-item>
                </ngx-accordion>
                <ngx-accordion *ngIf="form.value.type === 'button'" class="!w-50" [single]="form.value.variation">
                    <ngx-accordion-item-btn [state]="form.value.state" title="New York">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor ultricies nibh, a molestie tellus sagittis id. Aliquam ornare libero ut fermentum lacinia.</ngx-accordion-item-btn>
                    <ngx-accordion-item-btn [state]="form.value.state" title="London">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor ultricies nibh, a molestie tellus sagittis id. Aliquam ornare libero ut fermentum lacinia.</ngx-accordion-item-btn>
                    <ngx-accordion-item-btn [state]="form.value.state" title="Hong Kong">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor ultricies nibh, a molestie tellus sagittis id. Aliquam ornare libero ut fermentum lacinia.</ngx-accordion-item-btn>
                    <ngx-accordion-item-btn [state]="form.value.state" title="Tokyo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor ultricies nibh, a molestie tellus sagittis id. Aliquam ornare libero ut fermentum lacinia.</ngx-accordion-item-btn>
                  </ngx-accordion>
        </ng-container>
        <ng-container code>
            <component-code-show [componentCode]="componentCode"></component-code-show>
        </ng-container>
        <accordion-guide-form form [form]="form" (formChange)="formChange($event)"></accordion-guide-form>
    </component-showcase>
    <div class="px-2 py-1 rounded-md bg-white dark:bg-neutral-850 dark:border-neutral-600 transition-all mt-4">
        <ngx-tab>
            <ngx-tab-item [active]="activeTab === 'ngx-accordion'" (click)="activeTab = 'ngx-accordion'">ngx-accordion</ngx-tab-item>
            <ngx-tab-item [active]="activeTab === 'ngx-accordion-item'" (click)="activeTab = 'ngx-accordion-item'">ngx-accordion-item</ngx-tab-item>
            <ngx-tab-item [active]="activeTab === 'ngx-accordion-btn-item'" (click)="activeTab = 'ngx-accordion-btn-item'">ngx-accordion-btn-item</ngx-tab-item>

        </ngx-tab>
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-left p-3 rounded transition-all">Property name</th>
              <th class="text-left p-3 rounded transition-all">Type</th>
              <th class="text-left p-3 rounded transition-all">Data type</th>
              <th class="text-left p-3 rounded transition-all">Description</th>
            </tr>
          </thead>
          <tbody class="border-spacing-1" *ngIf="activeTab === 'ngx-accordion'">
            <tr *ngFor="let row of ngx_accordionData | slice:0:6" class="hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-all" [ngClass]="{'odd:bg-neutral-50 dark:odd:bg-neutral-700': striped}">
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.name }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.type }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.dataType }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.description }}</td>
            </tr>
          </tbody>
          <tbody class="border-spacing-1" *ngIf="activeTab === 'ngx-accordion-item'">
            <tr *ngFor="let row of ngx_accordion_itemData | slice:0:6" class="hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-all" [ngClass]="{'odd:bg-neutral-50 dark:odd:bg-neutral-700': striped}">
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.name }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.type }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.dataType }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.description }}</td>
            </tr>
          </tbody>
          <tbody class="border-spacing-1" *ngIf="activeTab === 'ngx-accordion-btn-item'">
            <tr *ngFor="let row of ngx_accordion_itemData | slice:0:6" class="hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-all" [ngClass]="{'odd:bg-neutral-50 dark:odd:bg-neutral-700': striped}">
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.name }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.type }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.dataType }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <accessibility-guide [heading]="componentData.accessibility.heading" [list]="componentData.accessibility.items" class="mt-4"></accessibility-guide>
    <usage-guide [heading]="componentData.use.heading" [list]="componentData.use.items" class="mt-4"></usage-guide>
    <usage-not-guide [heading]="componentData.useNot.heading" [list]="componentData.useNot.items" class="mt-4"></usage-not-guide>
</div>
