<div class="flex items-start justify-between p-4 border-b rounded-t dark:border-neutral-600">
    <h3 class="text-xl font-semibold text-neutral-900 dark:text-white">
        Terms of Service
    </h3>
    <button type="button" (click)="showModalChange.emit(false)" class="text-neutral-400 bg-transparent hover:bg-neutral-200 hover:text-neutral-900 rounded text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-neutral-100/5 dark:hover:text-white" data-modal-hide="defaultModal">
        <span class="Appkit4-icon icon-close-outline"></span>
        <span class="sr-only" >Close modal</span>
    </button>
    </div>
    <!-- Modal body -->
    <div class="p-6 space-y-6">
    <p class="text-base leading-relaxed text-neutral-500 dark:text-neutral-400">
        With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
    </p>
    <p class="text-base leading-relaxed text-neutral-500 dark:text-neutral-400">
        The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
    </p>
    </div>
    <!-- Modal footer -->
    <div class="flex justify-end p-6 space-x-2 border-t border-neutral-200 rounded-b dark:border-neutral-600">
    <button class="rounded text-base leading-6 cursor-pointer flex justify-center relative tracking-normal px-4 py-1 dark:text-primary-lighten-200 text-primary hover:bg-primary/20">Decline</button>
    <button class="rounded text-base leading-6 cursor-pointer flex justify-center relative tracking-normal px-4 py-1 bg-primary hover:bg-primary-lighten-100">I accept</button>
</div>