<div class="text-2xl">Radio button</div>
<p class="opacity-80">A radio button is a selector used when only one option can be selected from a list.</p>
<div class="flex flex-col py-4">
    <component-showcase>
        <ng-container visual>
            <div class="flex flex-col gap-3">
                <ngx-input-radio label="option 1" name="group" [disabled]="form.value.general.state === 'disabled'"></ngx-input-radio>
                <ngx-input-radio label="option 2" name="group" [disabled]="form.value.general.state === 'disabled'"></ngx-input-radio>
                <ngx-input-radio label="option 3" name="group" [disabled]="form.value.general.state === 'disabled'"></ngx-input-radio>
            </div>
        </ng-container>
        <ng-container code>
            <component-code-show [componentCode]="componentCode"></component-code-show>
        </ng-container>
        <input-radio-guide-form form [form]="form" (formChange)="formChange($event)"></input-radio-guide-form>
    </component-showcase>
    <div class="px-2 py-1 rounded-md bg-white dark:bg-neutral-850 dark:border-neutral-600 transition-all mt-4">
        <ngx-tab>
            <ngx-tab-item active>ngx-input-radio</ngx-tab-item>
        </ngx-tab>
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-left p-3 rounded transition-all">Property name</th>
              <th class="text-left p-3 rounded transition-all">Type</th>
              <th class="text-left p-3 rounded transition-all">Data type</th>
              <th class="text-left p-3 rounded transition-all">Description</th>
            </tr>
          </thead>
          <tbody class="border-spacing-1">
            <tr *ngFor="let row of ngx_radioData" class="hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-all" [ngClass]="{'odd:bg-neutral-50 dark:odd:bg-neutral-700': striped}">
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.name }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.type }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.dataType }}</td>
              <td class="text-left p-3 h-fit first:rounded-l last:rounded-r" [ngClass]="{'!py-1': condensed}">{{ row.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <all-guides [componentData]="componentData"></all-guides>
</div>