<form [formGroup]="form" class="flex flex-col gap-4">
    <ngx-input-number formControlName="from" label="From"></ngx-input-number>
    <ngx-input-number formControlName="step" label="Step"></ngx-input-number>
    <ngx-input-number formControlName="itemsPerPage" label="Items per page"></ngx-input-number>
    <ngx-input-number formControlName="totalItems" label="Total items"></ngx-input-number>
    <ngx-input-toggle formControlName="resetOnNewData" label="Reset on new data"></ngx-input-toggle>
</form>
