<form [formGroup]="form">
    <div class="flex flex-col gap-3">
        <ngx-input-text formControlName="title" [label]="'Title'"></ngx-input-text>
        <ngx-input-text formControlName="min" [label]="'Min'"></ngx-input-text>
        <ngx-input-text formControlName="max" [label]="'Max'"></ngx-input-text>
        <ngx-input-text formControlName="step" [label]="'Step'"></ngx-input-text>
        <ngx-input-checkbox formControlName="disabled" [checked]="false" label="Disabled"></ngx-input-checkbox>
    </div>
</form>
