input[type="radio"][ngx=""] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 2px solid currentColor;
    opacity: .75;
    cursor: pointer;
}
  
input[type="radio"][ngx=""]:checked {
    background: transparent;
    opacity: 1;
}
  
body[data-mode=dark] {
    input[type="radio"][ngx=""]:checked {
        border: 5px solid var(--color-primary-lighten-200);
    }
}
body[data-mode="light"] {
    input[type="radio"][ngx=""]:checked {
        border: 5px solid var(--color-primary);
    }
}